body, html {
    height: 100%;
    margin: 0;
}
.bg {
    background-image: url('../img/ink.jpeg');
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-attachment: fixed;
    background-color: rgb(34, 33, 32);
}

.entry {
    background-image: url('../img/type.jpeg');
    background-repeat: no-repeat;
    /* cover???? */
    background-size: cover;
    background-blend-mode: normal;
    background-attachment: fixed;
    background-color: rgb(34, 33, 32);
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #E7CD9Bff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lekton', sans-serif;
    color: #E7CD9Bff;
}

h2 {
    color: #B47729ff;
}

header h1 {
    font-family: 'Montserrat', sans-serif;
    color: #E7CD9Bff;
}

header h2 {
    color: #B47729ff;
}

footer {
    background-image: linear-gradient(rgba(34, 33, 32, .5), rgba(7, 18, 40, 1));
    background-color: rgb(34, 33, 32);
    padding: 20px 0;
}

.footertwo {
    background-color: rgba(7, 18, 40, 1);
}

.softbox {
    border-radius: 50px;
    background: linear-gradient(145deg, #0b1936, #0d1e40);
    box-shadow:  26px 26px 52px #0a1833,-26px -26px 52px #0e2045;
}

.softboxtwo {
    border-radius: 50px;
    background: linear-gradient(145deg,rgba(34, 33, 32, .2), rgba(7, 18, 40, .5));
    box-shadow:  26px 26px 52px rgba(34, 33, 32, .2),-26px -26px 52px rgba(7, 18, 40, .5);
}

.jumbotron {
    margin: 0;
    padding: 0px;
    background-image: linear-gradient(to right, #071228ff,rgba(51, 38, 79, 1), rgba(67, 31, 53, 1);
    color: #071228ff;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: #071228ff;
}

.customtheme {
    background-color: rgba(67, 31, 53, 1);
}

.rouge {
    color: #cc3333;
}

--bronze: #C2883Fff;
--indian-yellow: #CC9649ff;
--deep-champagne: #E7CD9Bff;
--wheat: #ECD6A9ff;
--copper: #B47729ff;

